<div class="hero">
  <div class="form-box">
    <div class="button-box">
      <div id="btn">
      </div>
      
      <button type="button" class="toggle-btn" onclick="register()">Registration</button>  
    </div>
    
<form id="register"class="input-group">
  <input type="text" class="input-filed" placeholder="User Id" required name="username">
  <input type="email" class="input-filed" placeholder="Email Id" required name="email">
  <input type="text" class="input-filed" placeholder="Enter Password" required name="password">
  <input type="text" class="input-filed" placeholder="Re_Enter Password" required name="password">
 
  <input type="checkbox" class="check-box"><span> I agree to the terms & conditions </span>
  <button type="submit" class="submit-btn">Conform Register</button>
</form>
</div>
</div>

