
<div class="hero">
    <div class="form-box">
      <div class="button-box">
          <div id="btn">
          </div><button type="button" class="toggle-btn" onclick="login()">Log In Page</button>
                
        </div>
        <form id="login"class="input-group">
            <input type="text" class="input-filed" placeholder="User Id" required><br/>
            <input type="text" class="input-filed" placeholder="Enter Password" required>
            <input type="checkbox" class="check-box"><span> remember password </span>
            <button type="submit" class="submit-btn">Log In </button>
    </form> 

    </div>
      </div>
